* {
  box-sizing: border-box;
}
body {
  background-image: url("/assets/image/concrete_seamless.png");
}
.header {
  width: 100%;
  height: 92px;
  background-color: white;
  border-bottom: 2px solid rgb(206, 202, 202);
  border-top: 1px solid rgb(206, 202, 202);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  width: 250px;
  height: 92px;
  cursor: pointer;
  background-color: rgb(43, 161, 161);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header-logo-name {
  font-weight: 700;
  font-size: 30px;
  color: white;
}
.nav {
  display: flex;
  align-items: center;
  width: 280px;
  height: 34px;
}
.nav li a {
  display: flex;
  padding-left: 15px;
  margin-left: 15px;
  color: #999;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav li:not(:first-child) a {
  border-left: 1px solid #cfcfcf;
}
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-me {
  max-width: 650px;
  width: 100%;
  height: 480px;
  padding: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 122px auto 40px auto;
}
.portfolio-container {
  max-width: 650px;
  width: 100%;
  padding: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 122px auto 40px auto;
  display: flex;
  flex-wrap: wrap;
}
.contact-with-me {
  max-width: 270px;
  width: 100%;
  background-color: #fdfdfd;
  margin: 122px 0 0 30px;
  border: 1px solid #ddd;
  padding: 30px;
  height: 200px;
}
.contact-with-me h3 {
  width: 100%;
  height: 42px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(204, 204, 204, 0.719);
  font: 700 22px Georgia, "Times New Roman", Times, serif;
  color: #4aaaa5;
  text-transform: capitalize;
  margin: 0 auto 15px auto;
  text-align: center;
}
.sidebar {
  display: flex;
  flex-wrap: wrap;
}
.sidebar li a {
  display: block;
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}
.sidebar li:last-child a {
  margin-right: 0;
}
.sidebar li:first-child a {
  margin-left: 6px;
}
.sidebar li a img {
  width: 100%;
  height: 100%;
}
.about-me-info {
  height: 72px;
  width: 100%;
  border-bottom: 3px solid #ddd;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.portfolio-container-info {
  margin-bottom: 20px;
}
.about-me-info h2 {
  font-weight: 700;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4aaaa5;
}
.about-me-img {
  width: 100%;
  height: 204px;
  margin-bottom: 20px;
  display: flex;
}
.portfolio-container-img {
  width: 274px;
  height: 205.5px;
  position: relative;
}
.portfolio-container-img:nth-child(even) {
  margin: 20px 40px 25px 0;
}
.portfolio-container-img:nth-child(odd) {
  margin: 20px 0 25px 0;
}
.about-me-img img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 25px;
}
.portfolio-container-img img {
  width: 274px;
  object-fit: cover;
  opacity: 0.8;
}
.about-me-img p,
.about-me-footer p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 34px;
  font-size: 18px;
  color: #777;
  margin-top: -10px;
}
.about-me-footer {
  width: 100%;
  height: 102px;
}
.about-footer {
  height: 102px;
  padding: 30px 0 30px 0;
  border-top: 8px solid #4aaaa5;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-footer strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #ccc;
  letter-spacing: 3px;
}
.portfolio-container-img strong {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #4aaaa5;
  font: 700 22px Georgia, "Times New Roman", Times, serif;
  color: #fff;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 5px 0.5px #4aaaa5;
}
#contact-form {
  width: 588px;
  height: 453px;
}
#contact-form ul {
  width: 100%;
  height: 392px;
  margin-bottom: 20px;
}
#contact-form ul li label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 34px;
  font: normal 18px Arial, Helvetica, sans-serif;
  color: #777;
}
#contact-form ul li input,
#contact-form ul li textarea {
  width: 100%;
  height: 35px;
  font: bold 14px Arial, Helvetica, sans-serif;
  padding: 0 10px 0 10px;
  border: 1px solid #ddd;
  background-color: #ddd;
}
#contact-form ul li textarea {
  height: 200px;
  padding: 10px;
}
.button {
  height: 41px;
  background-color: #4aaaa5;
  padding: 10px 30px;
  border: none;
  box-shadow: 0 0 5px 0.5px #4aaaa5;
  color: #fff;
  cursor: pointer;
  font: bold 18px Arial, Helvetica, sans-serif;
  transition: transform 0.5s linear;
}
.button:hover {
  transform: scale(0.95, 0.95);
}
